.search-container{
  margin: 0;
  padding: 0;
}
.search-container .search-box {
  position: relative;
  display: block;
  width: 100%;
  max-width: 53px;
  transition: 0.4s linear;
  overflow: hidden;
}
.search-container .search-box .search-box-input {
  display: block;
  appearance: none;
  width: 100%;

  border: none;
  outline: none;
  border-radius: 50px;
  background: transparent;
  padding: 11.5px;
  color: #343a40;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s linear;
}
.search-container .search-box .search-box-input::placeholder {
  color: #343a40;
}
.search-container .search-box .search-box-icon {
  position: absolute;
  right: calc(53px / 2);
  top: 50%;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.search-container .search-box .search-box-icon path {
  fill: #343a40;
  transition: 0.4s linear;
}
.search-container .search-box:focus-within {
  max-width: 300px;
}
.search-container .search-box:focus-within .search-box-input {
  background-color: #FFF;
  padding-right: 50px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.search-container .search-box:focus-within .search-box-icon path {
  fill: #343a40;
}

#mainNav .search-container .search-box .search-box-icon path {
  font-weight: 800;
  color: #FFF;
}
#mainNav .search-container .search-box:focus-within .search-box-icon path {
  fill: #343a40;
}

@media only screen and (min-width: 992px) {

  #mainNav .search-container .search-box .search-box-icon path {
    padding: 10px 20px;
    fill: #FFF;
  }
  #mainNav .search-container .search-box:focus-within .search-box-icon path {
    fill: #343a40;
  }
}

@media only screen and (min-width: 992px) {
  
  #mainNav.is-fixed .search-container .search-box .search-box-icon path {
    fill: #FFF;
  }
  #mainNav.is-fixed .search-container .search-box:focus-within .search-box-icon path {
    fill: #343a40;
  }
}