{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/starrynight.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Profile Editing</h1>
            <span class="subheading">Want to Change? As you wish.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
    
    <!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>Want to change your profile? Fill out the form below then you are all set!</p>
            <form method="POST" enctype="multipart/form-data" id="profile_form" novalidate>
                {% csrf_token %}
                {{ form.as_p }}        
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                    <label for="id_username">Username</label>
                    {{ form.username }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                    <label for="id_firstname">First Name</label> 
                    {{ form.first_name }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                    <label for="id_content">Last Name</label> 
                    {{ form.last_name }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                    <label for="id_emial">Email</label> 
                    {{ form.email }}
                    </div>
                </div>
                <br>
                <div class="clearfix">
                    <a class="btn btn-primary float-left" href="{% url 'home' %}">Cancel</a>
                    <button class='btn btn-primary float-right'>Update</button>
                </div>
            </form>
        </div>
    </div>
  </div>

{% endblock %}