{% extends "base.html" %} 
{% load static %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/starrynight.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blogalytics</h1>
            <span class="subheading">A blog analytic tools to helps you refine your work and discover beyond</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if user.is_authenticated %}
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="{% url 'add_post'%}">New Post &rarr;</a>
            </div>
        {% endif %}
            {% if post_list %}
              {% for post in post_list %}
                  <div class="post-preview">
                      <a href="{% url 'post_detail' post.slug %}">
                      <h2 class="post-title">
                          {{ post.title }}
                      </h2>
                      <h3 class="post-subtitle">
                          {{ post.content | slice:":200"}}
                      </h3>
                      </a>
                      <p class="post-meta">Posted by {{ post.author }}, {{ post.created_on }}</p>
                  </div>
<form style="text-align: right;"> 
                  <input type="button" class="btn btn-primary" value="show word cloud" id="{{ post.title }}" onclick="updateButton(this)">
                </form>
        <img src="{% static "" %}img/{{ post.title }}.png" id="{{ post.title }}.png" style='display:none' width="240px" hight="300px">
                <p title="word cloud" id="{{ post.title }}" style="text-align: right;"></p>
                  <hr>
              {% endfor %}
<script> 
              const para = document.querySelectorAll("p[title='word cloud']");
	function reP(iid){
	id = iid + ".png" 
	document.getElementById(id).style.display = "block";
	}
	function hiP(iid){
	id = iid + ".png" 
	document.getElementById(id).style.display = "none";
	}

              function updateButton(element){
                if(element.value === "show word cloud"){
                  element.value = "hide word cloud";
                  for(let i = 0; i < para.length; i++){
                    if(para[i].id == element.id)
				reP(element.id);
                  }
                }else{
                  element.value = "show word cloud";
                  for(let i = 0; i < para.length; i++){
                    if(para[i].id == element.id)
                      hiP(element.id);
                  }
                }
              }
            </script>

            {% else %}
              <div class="post-preview">
                <h2 class="post-title">
                    Ops!
                </h2>
                <p class="post-subtitle">
                    It seems like there are no post yet, do you want to be the first one?
                </p>
              </div>
              <hr> 
            {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
