{% extends 'base.html' %}
{% load static %} 
{% block content %}

<!-- {{ post.author.profile }} -->

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        
        <!-- {% if post.author.profile.profile_pic.url %}
        <p class=" text-muted"><img src="{{post.author.profile.profile_pic.url}}" width="25" height="25" style="vertical-align:middle" class='rounded-circle'> <a href="{% url 'show_profile' post.author.profile.id %}">{{ post.author }}</a> | {{ post.created_on }}</p>
        {% else %}
        <p class=" text-muted"><img src="{% static 'Blogalytics\images\default_profile_pic.png' %}" width="25" height="25" style="vertical-align:middle" class='rounded-circle'> <a href="{% url 'show_profile' post.author.profile.id %}">{{ post.author }}</a> | {{ post.created_on }}</p>
        {% endif %} -->
        <p class="card-text ">{{ object.content | safe }}</p>
        <br/><br/>
        <br/><br/>
        <form action="{% url 'like_post' post.slug %}" method="POST">
          {% csrf_token %}
          <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">
            Like 
          </button> - {{ total_likes }} Likes
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}