{% extends 'base.html' %} 
{% load static %}
{% block content %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/analytics.js' %}"></script>
<script src="{% static 'js/elementmap.js' %}"></script>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/starrynight.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blogalytics</h1>
            <span class="subheading">A blog analytic tools to helps you refine your work and discover beyond</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container" style="background-image: none" id="test">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        {% if post.author.profile.profile_pic %}
          <p class=" text-muted">
            <a href="{% url 'profile' post.author.profile.id %}"><img src="{{post.author.profile.profile_pic.url}}" width="30" height="30" style="vertical-align:middle" class='rounded-circle'></a>
            <a href="{% url 'profile' post.author.id %}" style="text-decoration:none"> {{ post.author }} </a>
            {{ post.created_on }}
          </p>
        {% else %} 
          <p class=" text-muted">
            <a href="{% url 'profile' post.author.profile.id %}"><img src="{% static 'Blogalytics\images\default_profile_pic.png' %}" width="30" height="30" style="vertical-align:middle" class='rounded-circle'></a>
            <a href="{% url 'profile' post.author.id %}" style="text-decoration:none"> {{ post.author }} </a>
            {{ post.created_on }}
          </p>
        {% endif %}
        <!-- <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p> -->
        <p class="card-text ">{{ post.content | linebreaks | safe }}</p>
        <br>
        <form action="{% url 'like_post' post.slug %}" method="POST">
          {% csrf_token %}
          <div clas = "clearfix">
          <button class="btn btn-primary float-right" type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">
            {{ total_likes }} Like 
          </button>
        </div>
        </form>
        <br>
        <br>
        <br>
        <a class="btn btn-primary float-right" href="{% static "" %}img/{{ post.title }}.png">See Word Cloud</a>
        <button class="btn btn-primary float-middle" title="Not" onclick="showimage(this)">Generate Heat Map</button>
        <script>
          function showimage(element){
            if(element.title == "display"){
              element.title = "Not";
              document.getElementById("test").style.backgroundImage="none";
            }
            else{
              element.title = "display";
              document.getElementById("test").style.backgroundImage="url(http://127.0.0.1:8000/analytics/heatmap/{{ post.slug }}/)";
            }
          }
        </script>
      </div>
    </div>
  </div>

{% endblock %}
