{% extends 'base.html' %} 

{% load static %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/starrynight.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blogalytics</h1>
            <span class="subheading">A blog analytic tools to helps you refine your work and discover beyond</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | linebreaks | safe }}</p>
      </div>
      </div>
    </div>
  </div>

{% endblock %}
