{% extends "base.html" %} 
{% load static %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/starrynight.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Your Profile</h1>
            <span class="subheading">Want to Change? Looking forward to read more </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        {% if page_user.profile.profile_pic.url %}
        <img src="{{page_user.profile.profile_pic.url}}" class='rounded-circle'> 
        <!--<a href="{% url 'show_profile' page_user.profile.id %}">-->
        {% else %}
        <img src="{% static 'Blogalytics\images\default_profile_pic.png' %}" class='rounded-circle'>
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</p>
          <p class="card-text">{{ page_user.bio }}</p>
        </div>
      </div>
    </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="{% url 'add_post' %}">New Post &rarr;</a>
            </div>
            {% if post_list %}
              {% for post in post_list %}
                  <div class="post-preview">
                      <a href="{% url 'post_detail' post.slug %}">
                      <h2 class="post-title">
                          {{ post.title }}
                      </h2>
                      <h3 class="post-subtitle">
                          {{ post.content | slice:":200"}}
                      </h3>
                      </a>
                      <p class="post-meta">Posted by {{ post.author }} | {{ post.created_on }}</p>
                      {% if user.is_authenticated and user.id == post.author.id %}
                      <div class="clearfix">
                        <a href="{% url 'update_post' post.slug  %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_post' post.slug  %}" class="btn btn-primary">Delete</a>                       
                    </div>
                      {% endif %}
                  </div>
                  <hr>
              {% endfor %} 
            {% else %}
              <div class="post-preview">
                <h2 class="post-title">
                    Ops!
                </h2>
                <p class="post-subtitle">
                    It seems like you have not post anything yet, do you want to post your first work now?
                </p>
              </div>
              <hr> 
            {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
