{% extends "base.html" %} 
{% load static %}
{% block content %}

<h1>User Profile...</h1>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        {% if page_user.profile.profile_pic.url %}
        <img src="{{page_user.profile.profile_pic.url}}" class="card-img"> <a href="{% url 'show_profile' page_user.profile.id %}">
        {% else %}
        <img src="{% static 'Blogalytics\images\default_profile_pic.png' %}" class="card-img">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5>
          <p class="card-text">{{ page_user.bio }}</p>
        </div>
      </div>
    </div>
</div>
{% for post in post_list %}
<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
        <p class="card-text">{{post.snippet|slice:":200" }}...</p>
        <!-- <p class="card-text">{{post.content|slice:":200" }}...</p> -->
        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>

        {% if user.is_authenticated and user.id == post.author.id %}
                <a href="{% url 'update_post' post.slug  %}" class="btn btn-primary">Edit &rarr;</a>
                <a href="{% url 'delete_post' post.slug  %}" class="btn btn-primary">Delete &rarr;</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{%endblock%}