{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/starrynight.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Registration</h1>
            <span class="subheading">Hey welcome in! We are glad to have you here.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
    
    <!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>Please fill out each section below and click on the register buttom to complete your account registration</p>
            <form method="POST" enctype="multipart/form-data" id="register_form" novalidate>
                {% csrf_token %}        
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                    <label for="id_username">Username</label>
                    {{ form.username }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                    <label for="id_firstname">First Name</label> 
                    {{ form.first_name }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                    <label for="id_last_name">Last Name</label> 
                    {{ form.last_name }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                    <label for="id_emial">Email</label> 
                    {{ form.email }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                    <label for="id_password1">Password</label> 
                    {{ form.password1 }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                    <label for="id_password2">Password Confirmation</label> 
                    {{ form.password2 }}
                    </div>
                </div>
                <br>
                <div class="clearfix">
                    <a class="btn btn-primary float-left" href="{% url 'home' %}">Cancel</a>
                    <button class='btn btn-primary float-right'>Register</button>
                </div>
            </form>
        </div>
    </div>
  </div>

  <script>
      document.getElementById("id_password1").placeholder = "Password";
      document.getElementById("id_password2").placeholder = "Password Confirmation";
  </script>

{% endblock %}